<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dnatools.css') }}">
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bokeh.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dnatools.js') }}"></script>
    </head>
    <body>
        <div id="content_wrapper" class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">

            <!-- DNA Translation -->
            <ul class="uk-switcher uk-margin-large-bottom">
                <li class="uk-active">
                    <form name="translate-dna" class="uk-form uk-form-horizontal" action="/dna-translate" method="POST">

                        <legend class="uk-legend">Translate DNA Sequence</legend>

                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-h-it">Sequence</label>
                            <div class="uk-form-controls">
                                <textarea id="seq" class="uk-textarea"name="seq" value="Enter DNA or Protein sequence" rows="5" cols="60" placeholder="Enter a DNA-sequence"></textarea>
                                <textarea class="uk-textarea" name="seq-example" rows="5" cols="65" style="resize: none;" disabled>Example DNA-sequence:
                                  ATGCGGTACCCCCAGAGGAAGGGACGGCTAACTACGTGCCAGCACGCCGCGGTAATACGTAGGTCCCGAACGTTGCGCGAAATTACTGGGCGTAAAGGGTCCGTAGGCGGTCTGGTACTT
                                </textarea>
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-h-it">Forward Frame</label>
                            <div class="uk-form-controls">
                                <label><input type="checkbox" name="fframe" value="1"> 1 </label>&nbsp;
                                <label><input type="checkbox" name="fframe" value="2"> 2 </label>&nbsp;
                                <label><input type="checkbox" name="fframe" value="3"> 3 </label>&nbsp;
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-h-it">Reverse Frame</label>
                            <div class="uk-form-controls">
                                <label><input type="checkbox" name="rframe" value="4"> 4 </label>&nbsp;
                                <label><input type="checkbox" name="rframe" value="5"> 5 </label>&nbsp;
                                <label><input type="checkbox" name="rframe" value="6"> 6 </label>&nbsp;
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <input class="uk-button uk-button-large uk-margin-small-top" type="submit" value="Translate - redirect">
                                <input id="dna-translate-submit-update" class="uk-button uk-button-large uk-margin-small-top" type="submit" value="Translate - update">
                            </div>
                        </div>
                    </form>
                </li>
                <li class="uk-active">
                    <table id="translated-table" class="display" width="60%"></table>
                </li>
            </ul>

            <!-- FASTA file upload -->
            <ul class="uk-switcher uk-margin-large-top">
                <li class="uk-active">
                    <form name="fasta-upload" id="fasta-upload" class="uk-form uk-form-horizontal" enctype="multipart/form-data" method="post">

                        <legend class="uk-legend">FASTA Sequence Statistics</legend>
                        
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-h-it">Select a (multi-)FASTA file</label>
                            <div class="uk-form-controls">
                                <input type="file" name="file"></input>
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <input id="gc-submit" class="uk-button uk-button-large uk-margin-small-top" type="submit" value="Visualize">
                            </div>
                        </div>        
                    </form>
                </li>
            </ul>
            <div id="GCplot"></div>
        </div>
    </body>
</html>